
body::after {
    content: "";
    position: fixed;
    z-index: -1;   
    width: 100%;
    background-image: url('./img/css/comicBackground.png');
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


header h1{
    text-align: center;
    margin-bottom: 0;
}

h1{
    text-shadow: 0 0 black, 0 0 black, 1px 3px black, 0 0 black;
    background-color: #fff9;
    border-radius: 15px;
    border: 1px #0004 solid;
}

header .container{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 1px;
}

#main .btn{
    border-radius: 10px;
    font-size: 1.5rem;
    width: 50px;
    margin: 5px;
    box-shadow:4px 4px;
}

.correct{
    color: yellow;
    background-color: red;
    font-weight: bolder;
}

.incorrect{
    color: purple;
    background-color: black;
}

#blank{
    font-size: 40px;
    color:#dc3545;
    text-shadow: 0 0 black, 0 0 black, 2px 3px yellow, 0 0 black;
}

.hide{
    visibility: hidden;
}

#stone1, #stone2, #stone3, #stone4, #stone5, #stone6{
    width: 35px;
    height: auto;
}

video{
    width: 100%;
    height: auto;
}

.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s linear;
  }

.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.7s, opacity 0.7s linear;
  }

.jumbotron{
    padding: 10px 10px !important;
    margin-bottom: 20px !important;
    box-shadow: 5px 5px;
}

figure{
    font-size: 25px;
    margin: 0 !important;
    text-shadow: 0 0 black, 0 0 black, 1px 2px black, 0 0 black;
}

#photo{
    border: 1px solid gray;
    box-shadow:5px 4px;
}

.highlight{
    color: #dc3545;
    text-shadow: 0 0 black, 0 0 black, 1px 3px yellow, 0 0 black;
}

.infinity{
    background-color: #fff5;
    padding: 8px;
    border-radius: 15px;
}